<h2><%=l('bookmarks.views.add_category.title')%></h2>

<%- labelled_tabular_form_for :category, @category, :url => { :controller => 'bookmark', :action => "add_category" }, :html => { :id => 'category-form' } do |f| -%>
	<%= render :partial => 'bookmark/form_category', :locals => { :f => f } %>
	<br>
	<%= submit_tag l('bookmarks.views.add_button'), :name => "add", :class => "small" %>
<% end %>


